* {
  margin: 0;
  padding: 0;
}
.divider {
  width: 100px;
  height: 2px;
  background-color: blue;
  display: inline-block;
  margin: 5px;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  /* height: 100px; */
  top: 0px;
  left: 0px;
  overflow: hidden;
}
#logo {
  width: 50px;
  height: 30px;
  padding: 0px 10px;
  margin: 2px 5px;
}
#logo h1 {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: white;
}

#navbar ul {
  display: flex;
  margin-left: 100px;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  display: block;
  margin: 0px 3px;
  padding: 8px;
  border-radius: 22px;
  text-decoration: none;
  color: white;
}
#navbar ul li a:hover {
  display: block;
  color: white;
  background-color: black;
}
.btn {
  display: block;
  width: 100px;
  padding: 10px;
  border: 2px solid black;
  color: black;
  background-color: white;
  margin: 3px;
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  color: honeydew;
  background-color: black;
}
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 20px 5px;
  color: white;
}
#home::before {
  content: "";
  background: url("../intro-bg.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
  opacity: 0.9;
}
#home .home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 15px;
  padding: 10px;
}
#home .home2 {
  margin: 5px 0px;
  padding: 5px;
}
#home img {
  margin: 30px 0px;
}
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 150px;
}
#about h2 {
  color: grey;
  size: 40px;
}
#about h3 {
  color: grey;
  size: 30px;
  margin: 5px 0px;
  padding: 2px 3px;
}
.like {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.like::before {
  content: "";
  background: url("../like.jpg") no-repeat center center/cover;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 40px 0px;
  z-index: -1;
}
#content {
  display: flex;
  margin: 60px 0px;
  align-items: center;
  justify-content: space-around;
}
#content .content-right {
  margin: 0px 70px;
  width: 50%;
}
.content-left h2 {
  font-size: 30px;
  margin: 15px 0px;
  color: grey;
}
.content-left p {
  margin: 5px 0px;
  padding: 6px;
  color: grey;
  font-size: 22px;
}
#content .content-left {
  margin: 0px 110px;
  width: 50%;
}
.content-left img {
  margin: 15px 0px;
  width: 180px;
}
#feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  font-family: "Roboto", sans-serif;
  margin-top: 70px;
}
#features {
  display: flex;
  /* height: 500px; */
}
#features .box-right {
  width: 33.33%;
  float: right;
  margin: 5px;
  padding: 5px;
}
.box-right h2 {
  float: right;
  font-size: 25px;
  margin: 8px;
  color: grey;
}
.box-right p {
  float: right;
  margin-left: 190px;
  font-size: 20px;
  padding: 4px;
  color: grey;
}
#features .box-center {
  width: 33.33%;
  float: right;
  margin: 5px 100px;
  width: 200px;
  padding: 5px;
}
#features .box-left {
  width: 33.33%;
  float: left;
  margin: 5px;
  margin-left: 70px;
  padding: 5px;
}
.box-left h2 {
  float: left;
  font-size: 25px;
  margin: 8px;
  color: grey;
}
.box-left p {
  float: left;
  margin-right: 190px;
  font-size: 20px;
  padding: 4px;
  color: grey;
}

.fimage img {
  margin-top: 30px;
  height: 500px;
}
#screen {
  display: flex;
  margin: 20px;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#screens {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#screens img {
  width: 250px;
  margin: 80px 0px;
}
.center {
  text-align: center;
}
.watch {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.watch::before {
  content: "";
  background: url("../watch.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 40px 0px;
  z-index: -1;
}
#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Dongle", sans-serif;
  margin-top: 100px;
}
#user h2 {
  font-size: 30px;
}
#user p {
  font-size: 18px;
  margin: 8px;
}
#services {
  margin: 35px;
  display: flex;
  align-items: center;
}
#services .box {
  border: 2px solid grey;
  width: 40%;
  height: 300px;
}
#services .box img {
  display: block;
  margin: auto;
  clip-path: circle();
}
.box i {
  display: block;
  margin: 25px 242px;
  font-size: 30px;
  color: rgb(218, 213, 213);
}

.box p {
  margin: 10px;
  font-size: 20px;
  color: grey;
}
.box h3 {
  color: grey;
  font-size: 18px;
}
#pricing {
  display: flex;
  margin: 35px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.plans {
  background: white;
  width: 280px;
  margin: 70px 20px;
}
.planing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  background-color: rgb(241, 236, 236);
}
.plans ul {
  margin: 10px;
}
.plans ul li {
  list-style: none;
  font-size: 20px;
  padding: 8px 0px;
  border-bottom: 0.5px solid grey;
  margin: 0px 3px;
}
.plans h3 {
  color: white;
  background-color: grey;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* font-family: "Dongle", sans-serif; */
  height: 80px;
}
.plans h2 {
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;

  /* font-family: "Dongle", sans-serif; */
  height: 30px;
}
.plans h4 {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 5px;
  background-color: yellow;
  border: 2px solid yellow;
  font-size: 18px;
  border-radius: 23px;
  width: 80px;
  height: 16px;
  /* font-family: "Dongle", sans-serif; */
}
.start {
  display: block;
  width: 200px;
  height: 60px;
  margin: auto;
  border: 2px solid grey;
  border-radius: 28px;
  background-color: grey;
  color: white;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.get {
  display: flex;
  margin: 35px;
  margin-top: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
}
.get h2 {
  color: white;
  font-size: 35px;
}
.get p {
  color: white;
  font-size: 18px;
}
.get::before {
  content: "";
  background-color: #5b56d7;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}
.content1 img {
  width: 200px;
  margin: 15px 0px;
}
.btn1 {
  border-radius: 27px;
  cursor: pointer;
  font-size: 15px;
}
#FAQ {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  width: 800px;
  margin: 15px auto;
}
.faqs {
  padding: 30px 50px;
  margin-top: 10px;
}
.details {
  border-bottom: 1px solid grey;
  padding: 10px;
  border-radius: 12px;
  margin-top: 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}
.details i {
  font-size: 15px;
  color: black;
  display: block;
  float: right;
  margin: 4px;
}
.details h2 {
  outline: none;
  font-size: 20px;
}
.text {
  margin: 10px 0px;
  font-size: 20px;
}
.tell p {
  text-align: center;
  margin-top: 38px;
  font-size: 35px;
}
form {
  margin-top: 35px;
}
.form {
  margin: 20px;
  padding: 18px 17px;
  border: 2px solid black;
  border-radius: 25px;
  width: 300px;
}
.btn1 {
  padding: 15px 17px;
  border-radius: 2s5px;
  border: 2px solid black;
  background-color: black;
  color: white;
}
.contact {
  width: 80%;
  margin: 50px auto;
  margin-top: 100px;
}

.contact-box {
  background-color: white;
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right {
  flex-basis: 70%;
  padding: 40px;
  background-color: #f8f9fa;
  color: black;
}
.contact-right h3 {
  font-size: 27px;
}
h2 {
  margin-bottom: 10px;
  font-size: 35px;
}
.contact p {
  margin-bottom: 40px;
  font-size: 25px;
}
.input {
  width: 500px;
  height: 35px;
  margin: 5px 7px;
  padding: 10px;
}
.btn2 {
  width: 150px;
  height: 40px;
  margin-left: 220px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: blueviolet;
  cursor: pointer;
}
#term {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 200px;
}
#term h2 {
  font-size: 22px;
  color: white;
}
#term h3 {
  color: white;
}
#term::before {
  content: "";
  background: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 1;
}
#term ul {
  display: flex;
}
#term ul li {
  list-style: none;
  margin: 0px 12px;
  color: white;
  font-size: 24px;
}
